<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.tommylee.myapplication">

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Search_Activity"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateVisible">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".SmartScreen_Activity"
            android:label="@string/title_activity_smart_screen_"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".registration"
            android:label="註冊"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".registration_verify"
            android:label="短信驗證"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".registration_set_password"
            android:label="密碼設定"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".registration_email"
            android:label="電郵註冊"
            android:theme="@style/AppTheme" />
        <activity
            android:name="registration_phone_verify"
            android:label="密碼設定"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".registration_forget"
            android:label="忘記密碼"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".registration_forget_email"
            android:label="忘記密碼2"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Result_Page_Activity"
            android:label="@string/title_activity_result__page_"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".FilterActivity"
            android:label="@string/title_activity_filter"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".detail.Detail_Activity"
            android:label="@string/title_activity_detail_"
            android:theme="@style/AppTheme" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value=" AIzaSyCQZzXtrnWrUuMM4W2s_Wu2HE48Q-5b6JY" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

    </application>

</manifest>